     <div class="mdl-grid">
                
     <% @systems.take(1).each do |system| %>
     
          <%= render partial: 'home', collection: @systems, as: :system %>
      
      <% end %>
                
      </div>
      
           <p id="page_title" style="visibility: hidden">Home</p>