<div class="mdl-grid">
<p id="page_title" style="visibility: hidden">Control Console</p>

<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid">
<%= button_to 'Clear Systems', clear_sys_settings_path, method: :post, class: 'new_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white' %>
<%= button_to 'Clear Games', clear_game_settings_path, method: :post, class: 'new_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white' %>
<%= button_to 'Set Urls', urls_settings_path, method: :post, class: 'new_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white' %>
<%= button_to 'Active Consoles', owned_or_not_sett_settings_path, method: :post, class: 'new_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white' %>
</div>


</div>