<div class="mdl-grid">


  <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <% if @games.present? %>
        <table id='datatable' class="display mdl-color-text--blue-grey-900 mdl-cell--8-col">
          <tr>
            <th>Name </th>
            <th> Console </th>
            <th> Developer </th>
            <th> Publisher </th>
            <th> Release Year</th>
            <th>Actions</th>
          </tr>
              <%= render @games %>
        </table>
        <%= will_paginate @games, class: 'apple_pagination' %>
    <% else %>
      <p>There are no games matching the search parameter <%= params[:search] %>. </p>
    <% end %>
  </div>
</div>
<p id="page_title" style="visibility: hidden">All Games</p>

<%= link_to "Download", games_path(format: "csv"), class: 'new_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white' %>